@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

.body {
    background-color: #EBDEBE;
    width:100vw ;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden; 
    /*animation: fadeIn 1s ease-in-out;*/
}

/* 添加動畫 */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.slide_container{
    width: 60vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center; /* 垂直置中 */
    justify-content: center;  /* 水平置中 */
  }

.introzone{
    position: relative;
    width: 40vw;
    height: 75vh;
    display: flex;
    top: 30%;
    justify-content: center;  /* 水平置中 */
    padding-right: 3%;

}
.intro {
  height: 50%;
  font-family: 'Jockey One';
  font-size: 1.5em;
  animation: fadeIn 1s ease-in-out;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.skillzone{
    width: 100vw;
    height: 25vh;
    position: absolute;
    top: 75vh;
    left: 0;
    background-color: EBDEBE;
    font-family: 'Jockey One';
    font-size: 2em;
    display: flex;
    flex-direction: row;
}

.slideshow {
    position: relative;
    width: 80%;
    overflow: hidden;
    
  }

.slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
    position: relative;
  }
  
.slide {
    display: inline-block;
    height: 450px ;
    width: 100%;
    border-radius: 70px;
  }
  
.slideshowDots {
    text-align: center;
  }
  
.slideshowDot {
    display: inline-block;
    position: relative;
    top: 0;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    cursor: pointer;
    margin: 20px 7px 0px;
    background-color: #c4c4c4;
  }

.slideshowDot.active {
    background-color: #3a393b;
  }




.devzone{
    width: 40vw;
    height: 20vh;
    
    border-radius: 75px;
    position: relative;
    left: 5vw;
    display: flex;
    justify-content: center;  /* 水平置中 */
    align-items: center;


}

.musiczone{
    width: 40vw;
    height: 20vh;
    border-radius: 75px;
    position: relative;
    left: 15vw;
    display: flex;
    justify-content: center;  /* 水平置中 */
    align-items: center;
    
}

.title1{
  display: flex;
  justify-content: center;  /* 水平置中 */
  width: 100%;
  height: 5vh;
  
}

.title2{
  display: flex;
  justify-content: center;  /* 水平置中 */
  width: 100%;
  height: 5vh;
}


.project{
  background-color: #EBDEBE;
  height: 40vh;
  width: 45vw;
  font-size: 1em;
  font-family: 'Jockey One';
  overflow: hidden; 
  position: absolute; /* 可能不需要更改，如果已经是 relative */
  z-index: 100; /* 确保它在其他内容之上 */
  top: 20vh; /* 根据实际布局调整 */
  right: 1vw; /* 从右侧滑入 */
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;  /* 水平置中 */
  align-items: center;
  border: 2px solid #000000;
  
}

.projectListEnter {
  transform: translateX(100%);
  position: absolute; /* 或者 position: fixed; 根据需求选择 */
  top: 20vh; /* 根据实际布局调整 */
  right: 0; /* 从右侧滑入 */

}

.projectListEnterActive {
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
}

.projectListExit {
  transform: translateX(0);
  position: absolute; /* 保持绝对定位 */
}

.projectListExitActive {
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
}


.project1{
  
  left: 30%;
  width: 70%;
  font-size: 1.2em;
  
}
.project2{
  
  left: 30%;
  width: 70%;
  font-size: 1.2em;
}

.button1{
  background-color: #8f8f8f;
  font-family: 'Jockey One';
  font-size: 100%;
  color: black;
  width: 80%;
  height: 60%;
  border-radius: 35px;
}
.button2{
  background-color: #8f8f8f;
  font-family: 'Jockey One';
  font-size: 100%;
  color: black;
  width: 80%;
  height: 60%;
  border-radius: 35px;
}


@media screen and (max-width: 1080px) {
  .body{
      flex-direction: column;
  }

  .slide_container{
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center; /* 垂直置中 */
    justify-content: center;  /* 水平置中 */
  }

.introzone{
    position: absolute;
    width: 100vw;
    height: 40vh;
    display: flex;
    top: 55vh;
    justify-content: center;  /* 水平置中 */
    

}

.slide {
  display: inline-block;
  height: 300px ;
  width: 100%;
  border-radius: 70px;
}
.intro {
  height: 90%;
  width: 90%;
  font-family: 'Jockey One';
  font-size: 1.2em;
  animation: fadeIn 1s ease-in-out;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.skillzone{
  width: 100vw;
  height: 25vh;
  position: absolute;
  top: 82vh;
  left: 0;
  background-color: EBDEBE;
  font-family: 'Jockey One';
  font-size: 1em;
  display: flex;
  flex-direction: row;
}

.project{
  background-color: #EBDEBE;
  height: 30vh;
  width: 95vw;
  font-size: 1em;
  font-family: 'Jockey One';
  overflow: hidden; 
  position: absolute; /* 可能不需要更改，如果已经是 relative */
  z-index: 100; /* 确保它在其他内容之上 */
  top: 50vh; /* 根据实际布局调整 */
  right: 2.5vw; /* 从右侧滑入 */
  left: 2.5vw;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;  /* 水平置中 */
  align-items: center;
  border: 2px solid #000000;
  
}

.projectListEnter {
  transform: translateX(100%);
  
  position: absolute; /* 或者 position: fixed; 根据需求选择 */
  top: 50vh; /* 根据实际布局调整 */
  right: 0; /* 从右侧滑入 */

}
.projectListEnterActive {
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
}

.projectListExit {
  transform: translateX(0);
  position: absolute; /* 保持绝对定位 */
}

.projectListExitActive {
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
}

}

@media screen and (max-width: 400px){ 
  .intro {
    font-size: 1em;

  }
  .project{
    background-color: #EBDEBE;
    height: 30vh;
    width: 95vw;
    font-size: 1em;
    font-family: 'Jockey One';
    overflow: hidden; 
    position: absolute; /* 可能不需要更改，如果已经是 relative */
    z-index: 100; /* 确保它在其他内容之上 */
    top: 52.5vh; /* 根据实际布局调整 */
    right: 2.5vw; /* 从右侧滑入 */
    left: 2.5vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* 水平置中 */
    align-items: center;
    border: 2px solid #000000;
    
  }
  .projectListEnter {
    transform: translateX(100%);
    
    position: absolute; /* 或者 position: fixed; 根据需求选择 */
    top: 52.5vh; /* 根据实际布局调整 */
    right: 0; /* 从右侧滑入 */
  
  }
  .projectListEnterActive {
    transform: translateX(0);
    transition: transform 300ms ease-in-out;
  }
  
  .projectListExit {
    transform: translateX(0);
    position: absolute; /* 保持绝对定位 */
  }
  
  .projectListExitActive {
    transform: translateX(100%);
    transition: transform 300ms ease-in-out;
  }
}